.offers {
    margin-bottom: 5rem;
    
    .special-heading {
        margin: 0rem 1rem;
        font-weight: bold;
        font-size: 1rem;
        
    }

    .special-img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .container-img {
           
            width: 90%;
            margin-bottom: .5rem;
    
            & img {    
                width: 100%;
                height: 100%;
                border-radius: 1rem;
            }
        }
    }

    & i {
        font-size: 2rem;
        position: absolute;
        color: white;
    }

    .left {
        left: 10%;
    }

    .right {
        right: 10%;
    }

    .special-heading-2 {
        margin-bottom:  1rem;
        font-weight: bold;
        font-size: 1rem; 

        & h4 {
            margin: 0rem 1rem;
        }
    }
        
}





