.splinter {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin: 1rem 1rem;

    .row-1 {
        border: .2rem solid #ffcb05;
        border-radius: 10px;
        padding: 1rem 2.8rem;
    }

    .row-2 {
        border: .2rem solid #ffcb05;
        border-radius: 10px;
        padding: 1rem 2.2rem;
    }

    & p {
        font-weight: bold;
    }
}