
.top-nav {

    background-color:#ffcb05;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    width: 375px;
    top: 0;
    z-index: 9999;
    & img {
        width: 6rem;
    }
    
    & i {
        font-size: 2rem;
    }
}